/* Animacija pri promeni grada (fade in/out). */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    margin: 140px auto;
    max-width: 1200px;
    height: 600px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border: 3px solid #28a745;
    position: relative;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
    margin: 20px auto;
    border: 2px solid #28a745;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
button:active {
    background-color: #1e7e34;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    background-color: #f8f9fa;
    border: 2px solid #28a745;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 210px;
    height: 200px;
    display: grid;
    align-items: center;
}
.card:hover {
    transform: scale(1.05);
}

h2 {
    display: inline;
    font-size: 16px;
}

p {
    display: inline;
    font-size: 16px;
}

#change {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#weather-result {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}


/* Spinner za cekanje */
.spinner {
  border: 4px solid rgba(0,0,0,0.1);
  border-left-color: #4caf50; /* boja spinnanja */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Autocomplete suggestions */
#suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
    top: 129px;
    left: 310px;
    z-index: 1000;;
  background: white;
  border: 1px solid #28a745;
  border-radius: 5px;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
}
#suggestions li {
  padding: 5px;
  cursor: pointer;
}
#suggestions li:hover {
  background: #eee;
}


#geoBtn {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}